#########################	Folder	###########################
.ipynb_checkpoints
.vscode
.Res
Project(Python)
03.External_Module_And_Library
AI_ML
#########################	files	###########################
push.bat
gitinit
######################### 	Type	###########################
*.code-workspace
*.a

####################################################################
